body {
  margin: 0;
}
header {
  background-color: black;
  color: azure;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 25px;
}
main {
  background-color: azure;
  width: 700px;
  padding: 25px;
  border: solid black 5px;
  margin: 25px auto;
  line-height: 20px;
}
footer {
  background-color: black;
  color: azure;
  text-align: center;
  padding: 25px 0;
  margin-top: 25px;
  text-align: center;
}
.video {
  width: 550px;
  justify-content: c;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav {
  /* background: # 1b9bff; */
  height: 80px;
  width: 100%;
}
.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}
a.actice,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.footermenu {
  display: flex;
  justify-content: space-evenly;
}
a {
  color: lightblue;
}
.index {
  /* margin: 35px; */
  line-height: 35px;
  padding: 35px;
  font-size: 20px;
}
p {
  text-align: center;
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.basic {
  display: block;
  margin: auto;
  padding: 40px;
}
ul {
  text-align: center;
}
